Checks: 'cert*,performance*,modernize*,bugprone*,clang-analyzer*,concurrency*,readability*,-readability-function-cognitive-complexity,-readability-identifier-length,-readability-magic-numbers,-modernize-macro-to-enum,-clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling'
WarningsAsErrors: 'cert*,performance*,modernize*,bugprone*,clang-analyzer*,concurrency*,readability*,-readability-function-cognitive-complexity,-readability-identifier-length,-readability-magic-numbers'
